<% include ../shared/flash %>
<a class="btn btn-default" href="/blogs/new">新建Blog</a>
<% blogs.forEach(function (blog, index) { %>
 <%= index %>
 <%= blog.title %>
 <div class="well"><%= blog.content %></div>
<% })%>
